body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: auto;
    font-family: "Times New Roman", Times, serif;
    background-image: url("tile2.png");
    background-repeat: repeat;
}

header{
    position: relative;
    width: 100%;
}

div.inline{
    height: 50px;
    padding: 20px;
    background-image: url("tile.png");
    background-repeat: repeat-x;
    color: black;
    display: flex;
    align-items:center;
}

div.buy{
    margin: 25px;
    margin-left: auto;
}

a.buycon{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    margin: 0px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

a.buycon:hover{
    transition: 0.3s;
    background-color: lemonchiffon;
}

img.buycon{
    width: 20px;
    height: auto;
}

img.logo{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

a.logo{
    text-decoration: none;
    color: black;
    display: block;
    float: left;
    margin: 0px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    align-items:center;
}

a.flowerlink{
    color: black;
}

a.flowerlink:hover{
    color: #89306F;
}

.tab {
  overflow: hidden;
  background-color: #9C388A;
}

.tab button {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: lemonchiffon;
}

.tab button.active {
  background-color: lemonchiffon;
}

.tabcontent {
  background-color: LemonChiffon;
  display: none;
  padding: 6px 12px;
}

#show{
  height:200px;
  width:100%;
  margin:0 auto;
  border-top: solid LemonChiffon 3px;
  border-bottom: solid LemonChiffon 3px;
  background: black;
}

img.slide{
    position:absolute;
    object-fit: cover;
    height:200px;
    width:100%;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#suzy{
    display: block;
    width: 800px;
    border: solid LemonChiffon 3px;
    margin-right: 20px;
}

footer{
padding: 10px;
padding-left: 20px;
margin: 0px;
margin-top: 40px;
background: #222;
color: lightgray;
text-align: center;
font-size: small;
}
